.container {
    display: flex;
    height: 100vh;
    background: url("../../../assets/image.png") no-repeat center center/cover;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
